{% extends "base_generic.html" %}

{% block content %}
  <h1>NewsFeeds</h1>

  <div class="container newsfeed">
    <div class="useraccount">
      <img src="https://firebasestorage.googleapis.com/v0/b/instagram-firebase-25884.appspot.com/o/circle-user-regular-light.svg?alt=media&token=0e2e0b6f-6332-4871-ada9-5fe1848bf83c" alt="">
      <strong>Fabrizio Romano</strong>
      <label>@fabrizioromano</label>
      <span>·</span>
      <label>10h</label>
    </div>
    <div class="caption">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae harum voluptate cumque obcaecati consectetur dolores in fugiat fuga quo excepturi nostrum omnis, neque sapiente fugit placeat dolor laudantium incidunt tenetur.</p>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-outline-light" type="button"> More Details <i class="fa-solid fa-chevron-down"></i></button>
    </div>
  </div>
{% endblock %}
